/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
    background: url('/images/backgrounds/background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .logo-text {
    display: inline-block;
    font-size: 2rem;
    width: 350px;
    position: absolute;
    left: 200px;
    top: 20px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64;
    line-height: 64px;
}

nav.main{
    height: 150px;
    background: url("/images/backgrounds/background4.jpg") no-repeat top center;
    background-size: cover;
}

nav.breadcrumbs{
    margin-top: 10px;
    padding-left: 15px;
    height: auto;
    background-color: #f57f17;
}
nav.breadcrumbs .nav-wrapper{
    line-height: 45px;
}

#leftsidemenu .collapsible {
    margin: 0; 
    border: none; 
    border-bottom: 1px solid #e0e0e0;
}

#leftsidemenu .collapsible-header {
    padding: 0; 
    border: none; 
    min-height: 1.5rem;
    line-height: 1.5rem;
}

#leftsidemenu .collapsible-header i {
    font-size: 1.5rem;
    line-height: 1.2rem;
    margin: 0;
}

#leftsidemenu .collapsible-body {
    padding: 0;
    border: none;
    border-top: 1px solid #e0e0e0;    
}

#leftsidemenu .collapsible-body a.collection-item {
    padding-left: 40px;
}

#leftsidemenu .collapsible-body a.collection-item:not(.active) {
    background-color: #e4e4e4;
}

#leftsidemenu .collapsible-body a.collection-item:not(.active):hover {
    background-color: #e0e0e0;
}

/* Section main-categories */
#main-categories .card .card-action {
    padding: 12px;
}

#main-categories .card .card-action a {
    font-size: 0.8rem;
    white-space: nowrap;
}

/******/

h4{
    text-align: center;
}

@media only screen and (max-width: 992px){
    nav .brand-logo img {
        width: 100px;
        height: 100px;
    }
    nav .logo-text {
        left: 10px;
        top: 80px;
        width: 100%;
        font-size: 1.5rem;
    }
}    

@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
    nav .brand-logo {
        top: 0;
        left: 25px;
    }
}

.dropdown-content{
    min-width: 250px;
    top: 54px !important;
}
.dropdown-content li{
    min-height: 40px;
}
.dropdown-content li>a, .dropdown-content li>span{
    padding: 10px;
    font-size: 1rem;
}

.card-panel{
    padding: 20px;
}

span.title{
    font-weight: bold;
    color: #0059bc;
}

.gallery{
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;   
}

.gallery {
    padding: 10px;
}
.gallery img {
    border: 5px solid #c3c1c1;
    border-width: 5px 5px 5px;
}
.gallery a:hover img {
    border: 5px solid #ccc;
    cursor: pointer;
}
.gallery a:hover { 
    color: #fff;
}

.container table {
    border-collapse: collapse;
    border: #A9B8C2 1px solid;
    margin:0 auto;
}

.container table td, .container table th {
    border: #A9B8C2 1px solid;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.line-through{
    text-decoration: line-through;
}

.certificate{
    min-height: 300px;
}

.certificate .card-content .card-title,
.certificate .card-reveal .card-title{
    font-size: 18px;
    line-height: 2rem;
}

.widget-panel{
    padding: 10px;
}

.justify-align{
    text-align: justify;
}

.slider .indicators .indicator-item{
    background-color: #FFC2A0;
}

.slider .indicators .indicator-item.active{
    background-color: #E65100;
}

.bxslider{
    margin-top: 0;
}

.bxslider li img{
    margin: 0 auto;
}

.mask{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-color: rgba(255,255,255,0.5);
}

#categories .card-title {
    font-size: 18px;
}

.card.category-item .card-title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.card.category-item .card-content {
    padding-top: 5px;
}
.card.category-item .card-content p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
}

#our-tours .collection .collection-item.avatar {
    min-height: 60px;
}

.article img {
    margin: 5px 5px 0 0;
}

#book-search {
    position: absolute;
    z-index: 100;
    display: none;
}